@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    /*--fontSizeSmall: 18px;
    --fontSizeMedium: 24px;
    --fontSizeBig: 26px;
    --fontSizeHuge: 32px;*/

    --fontSizeSmall: 1.8vh;
    --fontSizeMedium: 2.4vh;
    --fontSizeBig: 2.6vh;
    --fontSizeHuge: 3vh;

    --minHeight: 600px;
}

::selection{
    background-color: transparent;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: var(--fontSizeMedium);
    color: #fff;
    background: url("img/background.jpg") no-repeat center;
    background-size: cover;
    padding: 3vh;
    /*min-height: var(--minHeight);*/
    min-height: 100vh;
}

@media only screen and (max-height: 600px){
    :root{
        /*--fontSizeSmall: 11px;
        --fontSizeMedium: 14px;
        --fontSizeBig: 16px;
        --fontSizeHuge: 18px;*/

        --fontSizeSmall: calc(var(--minHeight)*0.018);
        --fontSizeMedium: calc(var(--minHeight)*0.024);
        --fontSizeBig: calc(var(--minHeight)*0.026);
        --fontSizeHuge: calc(var(--minHeight)*0.03);
    }

    body{
        padding: calc(0.03*var(--minHeight));
    }
}

.BodyFade{
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: -1;
}